
.ProgramD1 {
  height:45px;
  width:45px;
  position: absolute;
  top:12.76vh;
  left:35.3vh;
  /* background-color: red; */
}
.ProgramD2 {
  height:45px;
  width:45px;
  position: absolute;
  top:12.84vh;
  left:44.78vh;
  /* background-color: red; */
}
.VerbD1 {
  height:45px;
  width:45px;
  position: absolute;
  top:34.587vh;
  left:3.21vh;
  /* background-color: red; */
}
.VerbD2 {
  height:45px;
  width:45px;
  position: absolute;
  top:34.59vh;
  left:12.67vh;
  /* background-color: red; */
}
.NounD1 {
  height:45px;
  width:45px;
  position: absolute;
  top:34.5vh;
  left:35.1vh;
  /* background-color: red; */
}
.NounD2 {
  height:45px;
  width:45px;
  position: absolute;
  top:34.4vh;
  left:44.55vh;
  /* background-color: red; */
}