.Register3Sign {
  height:45px;
  width:45px;
  position: absolute;
  top:86.28vh;
  left:2vh;
  /* background-color: red; */
}
.Register3D1 {
  height:45px;
  width:45px;
  position: absolute;
  top:84.6vh;
  left:8.48vh;
  /* background-color: red; */
}
.Register3D2 {
  height:45px;
  width:45px;
  position: absolute;
  top:84.64vh;
  left:17.35vh;
  /* background-color: red; */
}
.Register3D3 {
  height:45px;
  width:45px;
  position: absolute;
  top:84.65vh;
  left:26.22vh;
  /* background-color: red; */
}
.Register3D4 {
  height:45px;
  width:45px;
  position: absolute;
  top:84.6vh;
  left:35.28vh;
  /* background-color: red; */
}
.Register3D5 {
  height:45px;
  width:45px;
  position: absolute;
  top:84.6vh;
  left:44.15vh;
  /* background-color: red; */
}