.Register1Sign {
  height:45px;
  width:45px;
  position: absolute;
  top:53vh;
  left:2vh;
  /* background-color: red; */
}
.Register1D1 {
  height:45px;
  width:45px;
  position: absolute;
  top:51.2vh;
  left:8.48vh;
  /* background-color: red; */
}
.Register1D2 {
  height:45px;
  width:45px;
  position: absolute;
  top:51.2vh;
  left:17.35vh;
  /* background-color: red; */
}
.Register1D3 {
  height:45px;
  width:45px;
  position: absolute;
  top:51.2vh;
  left:26.22vh;
  /* background-color: red; */
}
.Register1D4 {
  height:45px;
  width:45px;
  position: absolute;
  top:51.2vh;
  left:35.28vh;
  /* background-color: red; */
}
.Register1D5 {
  height:45px;
  width:45px;
  position: absolute;
  top:51.2vh;
  left:44.15vh;
  /* background-color: red; */
}