@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: url('/noise.jpg');
  background-color: black;
  background-size: 50% auto;
  background-position: center top;
  .goal {
    width:100vw;
    position:absolute;
    top:22px;
    left:0;
    opacity:.5;
  }
  .mask {
    width:100vw;
    position:absolute;
    top:22px;
    left:0px;
  }
}