@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: url('/noise.jpg');
  background-color: black;
  background-size: 50% auto;
  background-position: center top;
}

.mask {
  z-index: 999;
  width:100vw;
  position:absolute;
  top:-3.5vh;
  left:0px;
}
.comp_acty {
  width:39vw;
  height:39vw;
  background: url('/segments/comp_acty.svg') no-repeat;
  background-size: 100%;
  position:absolute;
  top:5vh;
  left:0px;
}