@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('digit.css');
@import url('sign.css');
@import url('programverbnoun.css');
@import url('register1.css');
@import url('register2.css');
@import url('register3.css');

:root{
  --scale: 1;
}
.display-iphone13{
  --scale: 0.83;
  background-color: #000000;
}
.display-default{
  background-color: #3f3b30ff;
}
.display-oled{
  background-color: #000000;
}

body {
  color: white;
  /* background: url('/noise.jpg'); */
  background-color: #000000;
  background-size: auto 15%;
  background-position: center top;
}

.ELDisplay{
  position: absolute;
  width: calc(52.8vh * var(--scale));
  height:calc(100vh *  var(--scale));
}

.mask{
  z-index: 999;
  width: 100%;
  height:calc(104vh * var(--scale));
  position:absolute;
  top:calc(-3.5vh * var(--scale));
  left:0px;
}

.basic_segments {
  z-index: 0;
  width: calc(52.8vh * var(--scale));
  height:calc(104vh * var(--scale));
  position:absolute;
  top:calc(-3.5vh * var(--scale));
  left:0px;
}
.comp_acty {
  width:calc(19.5vh * var(--scale));
  height:calc(18.5vh * var(--scale));
  background-color: #00ad81ff;
  background-size: 100%;
  position:absolute;
  top:calc(5.7vh * var(--scale));
  left:0px;
}