
.ProgramD1 {
  height:45px;
  width:45px;
  position: absolute;
  top:calc(12.76vh * var(--scale));
  left:calc(35.85vh * var(--scale));
  /* background-color: red; */
}
.ProgramD2 {
  height:45px;
  width:45px;
  position: absolute;
  top:calc(12.76vh * var(--scale));
  left:calc(44.77vh * var(--scale));
  /* background-color: red; */
}
.VerbD1 {
  height:45px;
  width:45px;
  position: absolute;
  top:calc(34.5vh * var(--scale));
  left:calc(3.23vh * var(--scale));
  /* background-color: red; */
}
.VerbD2 {
  height:45px;
  width:45px;
  position: absolute;
  top:calc(34.5vh * var(--scale));
  left:calc(12.61vh * var(--scale));
  /* background-color: red; */
}
.NounD1 {
  height:45px;
  width:45px;
  position: absolute;
  top:calc(34.5vh * var(--scale));
  left:calc(35.1vh * var(--scale));
  /* background-color: red; */
}
.NounD2 {
  height:45px;
  width:45px;
  position: absolute;
  top:calc(34.5vh * var(--scale));
  left:calc(44.68vh * var(--scale));
  /* background-color: red; */
}