
.ProgramD1 {
  height:45px;
  width:45px;
  position: absolute;
  top:12.76vh;
  left:35.85vh;
  /* background-color: red; */
}
.ProgramD2 {
  height:45px;
  width:45px;
  position: absolute;
  top:12.76vh;
  left:44.77vh;
  /* background-color: red; */
}
.VerbD1 {
  height:45px;
  width:45px;
  position: absolute;
  top:34.5vh;
  left:3.23vh;
  /* background-color: red; */
}
.VerbD2 {
  height:45px;
  width:45px;
  position: absolute;
  top:34.5vh;
  left:12.61vh;
  /* background-color: red; */
}
.NounD1 {
  height:45px;
  width:45px;
  position: absolute;
  top:34.5vh;
  left:35.1vh;
  /* background-color: red; */
}
.NounD2 {
  height:45px;
  width:45px;
  position: absolute;
  top:34.5vh;
  left:44.68vh;
  /* background-color: red; */
}