.Register3Sign {
  height:45px;
  width:45px;
  position: absolute;
  top:calc(86.28vh * var(--scale));
  left:calc(2vh * var(--scale));
  /* background-color: red; */
}
.Register3D1 {
  height:45px;
  width:45px;
  position: absolute;
  top:calc(84.8vh * var(--scale));
  left:calc(8.48vh * var(--scale));
  /* background-color: red; */
}
.Register3D2 {
  height:45px;
  width:45px;
  position: absolute;
  top:calc(84.8vh * var(--scale));
  left:calc(17.4vh * var(--scale));
  /* background-color: red; */
}
.Register3D3 {
  height:45px;
  width:45px;
  position: absolute;
  top:calc(84.8vh * var(--scale));
  left:calc(26.27vh * var(--scale));
  /* background-color: red; */
}
.Register3D4 {
  height:45px;
  width:45px;
  position: absolute;
  top:calc(84.8vh * var(--scale));
  left:calc(35.38vh * var(--scale));
  /* background-color: red; */
}
.Register3D5 {
  height:45px;
  width:45px;
  position: absolute;
  top:calc(84.8vh * var(--scale));
  left:calc(44.21vh * var(--scale));
  /* background-color: red; */
}