.Register2Sign {
  height:45px;
  width:45px;
  position: absolute;
  top:69.65vh;
  left:2vh;
  /* background-color: red; */
}
.Register2D1 {
  height:45px;
  width:45px;
  position: absolute;
  top:68vh;
  left:8.48vh;
  /* background-color: red; */
}
.Register2D2 {
  height:45px;
  width:45px;
  position: absolute;
  top:68vh;
  left:17.4vh;
  /* background-color: red; */
}
.Register2D3 {
  height:45px;
  width:45px;
  position: absolute;
  top:68vh;
  left:26.27vh;
  /* background-color: red; */
}
.Register2D4 {
  height:45px;
  width:45px;
  position: absolute;
  top:68vh;
  left:35.38vh;
  /* background-color: red; */
}
.Register2D5 {
  height:45px;
  width:45px;
  position: absolute;
  top:68vh;
  left:44.21vh;
  /* background-color: red; */
}