.Register1Sign {
  height:45px;
  width:45px;
  position: absolute;
  top:calc(53vh * var(--scale));
  left:calc(2vh * var(--scale));
  /* background-color: red; */
}
.Register1D1 {
  height:45px;
  width:45px;
  position: absolute;
  top:calc(51.2vh * var(--scale));
  left:calc(8.48vh * var(--scale));
  /* background-color: red; */
}
.Register1D2 {
  height:45px;
  width:45px;
  position: absolute;
  top:calc(51.2vh * var(--scale));
  left:calc(17.4vh * var(--scale));
  /* background-color: red; */
}
.Register1D3 {
  height:45px;
  width:45px;
  position: absolute;
  top:calc(51.2vh * var(--scale));
  left:calc(26.27vh * var(--scale));
  /* background-color: red; */
}
.Register1D4 {
  height:45px;
  width:45px;
  position: absolute;
  top:calc(51.2vh * var(--scale));
  left:calc(35.38vh * var(--scale));
  /* background-color: red; */
}
.Register1D5 {
  height:45px;
  width:45px;
  position: absolute;
  top:calc(51.2vh * var(--scale));
  left:calc(44.21vh * var(--scale));
  /* background-color: red; */
}