
.sign_top {
  position:absolute;
  height: calc(2.7vh * var(--scale));;
  width: calc(1.5vh * var(--scale));
  background-color: #00AD81;
  top: calc(0.25vh * var(--scale));
  left: calc(0.25vh * var(--scale));
}
.sign_mid{
  position:absolute;
  height: calc(1.5vh * var(--scale));
  width: calc(5vh * var(--scale));
  background-color: #00AD81;
  top: calc(3.2vh * var(--scale));
  left: calc(-1.5vh * var(--scale));
}
.sign_bot {
  position:absolute;
  height: calc(2.7vh * var(--scale));
  width: calc(1.5vh * var(--scale));
  background-color: #00AD81;
  top: calc(4.95vh * var(--scale));
  left: calc(0.25vh * var(--scale))vh;
}