
.sign_top {
  position:absolute;
  height:2.75vh;
  width:1.5vh;
  background-color: #00AD81;
  top:0.25vh;
  left:0.25vh;
}
.sign_mid{
  position:absolute;
  height:1.5vh;
  width:5vh;
  background-color: #00AD81;
  top:3.2vh;
  left:-1.5vh;
}
.sign_bot {
  position:absolute;
  height:2.75vh;
  width:1.5vh;
  background-color: #00AD81;
  top:4.9vh;
  left:0.25vh;
}